@charset "ISO-8859-1";


h3
{
	color: red;
}
.myfonts{
	
	font-size: 20px;
	font-family: sans-serif;
}
.mybutton{
	color: white;
	background-color: green;
	border: 2px solid black;
	font-size: 24px;
	padding: 10px 10px 10px 10px;
	transition-duration:0.5s;
}
.mybutton:hover{
background-color: yellow;
color: black;
	
}






























